.devenv*
.direnv/
target/
sat-tracker-state.json
sat-tracker.sqlite
sat-tracker.sqlite-shm
sat-tracker.sqlite-wal
config.yaml
result
result-*
devenv.local.nix

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
